pkg-resources==0.0.0
django==1.6.5
django-mongokit==0.2.6
django-registration==1.0
django-ratings==0.3.7
django-pagination==1.0.7
django-notification==1.2.0
python-magic==0.4.6
gunicorn==19.0.0
markdown==2.4.1
pymongo==2.8

