<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/bower_components/semantic/dist/semantic.min.css">
	<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/semantic/dist/semantic.min.js"></script>

</head>
<body>
<div class="ui grid">
  <div class="two column centered grid large screen only row">
	<div class="column">
	  <div class="ui segment">
		   <div class="content">
						<div class="header">Project Timeline</div>
				</div>
										  <div class="ui divider"></div>

				<div class="content">   
					<form class="ui form">

					
  <div class="field">
    <label>Role</label>
    <select class="ui search dropdown" name="role">
      <option value="">Administrator</option>
      <option value="AF">Jury</option>
      </select>
      </div>

      					<div class="ui divider"></div>
						<div class="field">
							<label>First Name</label>
							<input name="first-name" placeholder="First Name" type="text">
						</div>
						<div class="ui divider"></div>
						<div class="field">
							<label>Last Name</label>
							<input name="last-name" placeholder="Last Name" type="text">
						</div>
						  <div class="ui divider"></div>
						<div class="field">
							<label>Class</label>
							<input name="klass" placeholder="Last Name" type="text">
						</div>
						<div class="field">
							<label>Roll Number</label>
							<input name="roll-number" placeholder="Last Name" type="text">
						</div>
						<div class="field">
							<label>Birth Date</label>
							<input name="birth-date" placeholder="Last Name" type="text">
						</div>
						<!-- <div class="field">
							<label>Telephone Number</label>
							<input name="telephone-number" placeholder="Last Name" type="text">
						</div> -->
						<div class="field">
							<label>Mobile Number</label>
							<input name="mobile-number" placeholder="Last Name" type="text">
						</div>
						<div class="field">
							<label>Address</label>
							<input name="address" placeholder="Last Name" type="text">
						</div>
						<div class="field">
							<label>Activity</label>
							<input name="activity" placeholder="Last Name" type="text">
						</div>
						<div class="field">
							<label>Email</label>
							<input name="email" placeholder="Last Name" type="text">
						</div>
						<div class="field">
							<label>Password</label>
							<input name="password" placeholder="Last Name" type="password">
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input tabindex="0" class="hidden" type="checkbox">
								<label>I agree to the Terms and Conditions</label>
							</div>
						</div>
			<!-- <button class="ui button" type="submit">Submit</button> -->
					</form>
				</div>
				<div class="extra content">
					<button class="ui centered button">Join Project</button>
				</div>      </div>
	</div>
  </div>
</div>