<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/bower_components/semantic/dist/semantic.min.css">
	<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/semantic/dist/semantic.min.js"></script>
</head>
<body>
{% include 'forms_ui.html' %}
<div class="ui grid">
 	<div class="two column centered grid large screen only row">
		<div class="column">
	  		<div class="ui segment">
		   		<div class="content">
					<div class="header">Level 5</div>
				</div>
				<div class="ui divider"></div>
				<div class="content">   
					<form class="ui form">				
  						<div class="field">
   							<label>Select Sucategory</label>
   							<select class="ui search dropdown" name="selected-subcat">
      						<option value="">{{db}}</option>
      						</select>
      					</div>
      					<div class="ui divider"></div>
						<div class="field">
						<label>Pass Year</label>
							<div class="ui calendar" id="example2">
    							<div class="ui input left icon">
      								<i class="calendar icon"></i>
      								<input type="text" placeholder="Date">
    							</div>
  							</div>
						</div>
						<div class="ui divider"></div>
						<div class="field">
							<label>Achievement</label>
							<input name="achievement" placeholder="Achievement" type="text">
						</div>
						<div class="ui divider"></div>
						<div class="field">
    						<label>Description</label>
    						<textarea rows="2" name="description"></textarea>
  						</div>
  						<div class="ui divider"></div>
					</form>
				</div>
				<div class="extra content">
					<button class="ui centered button">Submit</button>
				</div>      
			</div>
		</div>
  	</div>
</div>
<!--login -->
<!-- <div class="ui center aligned basic segment">
  <div class="ui left icon action input">
    <i class="search icon"></i>
    <input placeholder="Order #" type="text">
    <div class="ui blue submit button">Search</div>
  </div>
  <div class="ui horizontal divider">
    Or
  </div>
  <div class="ui teal labeled icon button">
    Create New Order
    <i class="add icon"></i>
  </div>
</div> -->
<!-- <div class="two column stackable ui grid">
  <div class="column">
	<div class="ui segment">
	  <p></p>
	  <p></p>
	</div>
  </div>
  <div class="column">
	<div class="ui segment">
	  <p></p>
	  <p></p>
	</div>
  </div>
</div> -->
</body>
</html>