<!DOCTYPE html>
<html>
<head>
	<title></title>
<script
			  src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
</head>
<body>
	<form method="GET">{% csrf_token %}
		<input type="text" name="name" id="name">
		<input type="text" name="activity" id="activity">
		<input type="submit" name="submit" value="submit">
	</form>

			  	<script type="text/javascript">
		var dt1 = $("#name").val(),
		var dt2 = $("#activity").val(),
		$.ajax({
			method : "GET",
			url : "/prouser/",
			data : { dt1:dt1, dt2:dt2},
			cache : false
		})
		.done(function(data){
			alert("done "+data );
		});
		// fmt.fail(function( jqXHR, textStatus ) {
  // 		alert( "Request failed: " + textStatus );
		// });
	</script>
</body>
</html>