<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/bower_components/semantic/dist/semantic.min.css">
	<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/semantic/dist/semantic.min.js"></script>
</head>
<body>	
	<!-- {%for each in de%} -->
		<!-- {{each}} -->
	<!-- {%endfor%} -->
	<!-- {{de}} -->
	<!-- <div class="ui three stackable cards">
  	<div class="card">
    	<div class="image">
    		<!-- {%for each in a%} -->
    			<!-- {{de}} -->
    			<!-- {{f}} -->
    	
    			<!-- <img src={{de}}> -->
    			<!-- <img src={{f}} alt="Smiley face" height="42" width="42">  -->
    			<!-- <img src={{f}}> -->
    		<!-- {%endfor%} -->
    <!-- 	</div>
  	</div>
	</div>  -->
	<video width="400" controls>
  <source src="{{de}}" type="video/mp4">
</video>
<!--     			<img src="{{de}}" alt="Smiley face" height="42" width="42"> 
 --></body>
</html>