<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- foundation-sites from bower -->
	<!-- <script  src="/static/bower_components/jquery/dist/jquery.min.js"></script> -->
	<!-- <script type="text/javascript" src="/static/bower_components/foundation-sites/dist/js/foundation.min.js"></script> -->
	<!-- <link rel="stylesheet" type="text/css" href="/static/bower_components/foundation-sites/dist/css/foundation.min.css"> -->
	<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////  -->
	<!-- csrfmiddlewaretoken: {{csrf_token}} --> 
	
	<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<!-- foundation-sites from cdn -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<!-- <script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">  -->
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- event.preventDefault(); -->

    <link rel="stylesheet" type="text/css" href="/static/bower_components/semantic/dist/semantic.min.css">
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/semantic/dist/semantic.min.js"></script>
</head>
<body>
	<form method="POST" enctype="multipart/form-data">{% csrf_token %}
							<div>
    <label for="file" class="ui icon button">
        <i class="file icon"></i>
        Open File</label>
    <input type="file" id="file" name ="file" style="display:none">
    <input class="ui button" type="submit" value="Submit">
</div>
	</form>
	<!-- {{form}}	 -->

<!-- 	<form method="POST"  enctype="multipart/form-data">{% csrf_token %}
	<input type="file"  name='file'> 
    <input type="submit" value="Submit">
</form> -->
</body>
</html>

